body {
    background-color: rgb(21, 181, 255);
}

html {
    scroll-behavior: smooth;
}

* {
    overflow: auto;
}

.MidBody {
    background-color: rgba(8, 199, 247, 0.856);
    padding: 5px;
    height: 300px;
}

.midCards {
    height: 100%;
    background-color:rgb(8, 171, 247);
}